@import url(http://fonts.googleapis.com/css?family=Tinos);
@import url(http://fonts.googleapis.com/css?family=Exo+2:300,400,600);

body
{
    position: relative;
}

.ios .home .item .android-url,
.desktop .home .item .android-url
{
    display: none;
}

.navbar-brand img
{
    width: 170px;
}

.android .home .item .ios-url
{
    display: none;
}

.ios-url,
.android-url
{
    position: absolute;
    top: 46px;

    width: 100px;
}

.logo
{
    display: block;

    width: 100px;
    height: 82px;

    text-indent: -9999px;

    background: url(images/Logo.svg);
    background-size: 100px 82px;
}

.right
{
    float: right!important;
}

.navbar
{
    margin-bottom: 0;
}

.header
{
    position: fixed;
    z-index: 100;
    top: 0;

    width: 100%;
    height: 83px;

    background: #fff;
    -webkit-box-shadow: 0 5px 24px 0 rgba(204,204,204,.75);
       -moz-box-shadow: 0 5px 24px 0 rgba(204,204,204,.75);
            box-shadow: 0 5px 24px 0 rgba(204,204,204,.75);
}

.navbar-nav > li:after
{
    position: absolute;
    top: 0;
    left: 100px;

    display: inline-block;
    float: left;

    width: 80px;
    height: 125px;

    content: ' ';

    background: url('../images/menu_shadow.png') no-repeat;
}

.navbar-nav > li:last-child:after
{
    width: 0;

    background: none;
}

.navbar-nav > li > a
{
    font-family: 'Exo 2',sans-serif;
    font-size: 13px;
    font-weight: 400;

    color: #97999c;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus
{
    border: none;
    background-color: transparent;
}

.nav-tabs > li > a:hover
{
    border: none;
}

.navbar-nav > li > a:hover
{
    color: #231f20;
}

.navbar-nav > li > a:active
{
    color: #28aae2;
}

.navbar-nav > li.active > a
{
    color: #28aae2;
}

.navbar-nav > :nth-child(1) a
{
    background: url('../images/home_static.png') no-repeat 50% 0;
}

.navbar-nav > :nth-child(2) a
{
    background: url('../images/business_static.png') no-repeat 50% 0;
}

.navbar-nav > :nth-child(3) a
{
    background: url('../images/about_static.png') no-repeat 50% 0;
}

.navbar-nav > :nth-child(4) a
{
    background: url('../images/contact us_static.png') no-repeat 50% 0;
}

.navbar-nav > :nth-child(1) a:hover
{
    background: url('../images/home_hover.png') no-repeat 50% 0;
}

.navbar-nav > :nth-child(2) a:hover
{
    background: url('../images/business_hover.png') no-repeat 50% 0;
}

.navbar-nav > :nth-child(3) a:hover
{
    background: url('../images/about_hover.png') no-repeat 50% 0;
}

.navbar-nav > :nth-child(4) a:hover
{
    background: url('../images/contact us_hover.png') no-repeat 50% 0;
}

.navbar-nav > :nth-child(1).active a
{
    background: url('../images/home_push.png') no-repeat 50% 0;
}

.navbar-nav > :nth-child(2).active a
{
    background: url('../images/business_push.png') no-repeat 50% 0;
}

.navbar-nav > :nth-child(3).active a
{
    background: url('../images/about_push.png') no-repeat 50% 0;
}

.navbar-nav > :nth-child(4).active a
{
    background: url('../images/contact us_push.png') no-repeat 50% 0;
}

.nav > li > a:hover,
.nav > li > a:focus
{
    background-color: transparent;
}

.navbar-toggle .icon-bar
{
    background: #212345;
}



.carousel-control
{
    top: 23%;

    height: 69%;

    opacity: .3;
}

.home-app
{
    position: relative;

    min-height: 400px;
    padding-top: 120px;

    background: url('../images/pattern_paper.png') repeat 100%;
}

.philosophy
{
    margin-top: 30px;
}

.philosophy p
{
    font-family: 'Tinos',serif;
    font-size: 16px;

    color: #97999c;
}

.leftimg
{
    float: left;

    margin: 10px;
}

.home .carousel-inner .item .col-sm-2
{
    text-align: center;
}

.home .carousel-inner .item h3
{
    font-family: 'Exo 2',sans-serif;
    font-size: 16px;
    font-weight: 300;

    display: table-cell;

    height: 34px;

    text-align: center;
    vertical-align: bottom;
    text-transform: capitalize;

    color: #97999c;
}

.pos
{
    position: relative;

    height: 230px;
}

.carousel-inner .item .container
{
    margin-bottom: 30px;
}

.home .carousel-inner .item img
{
    width: 100%;
    max-width: 80px;

    border-radius: 15px;
}

.home .carousel-inner .item img:hover
{
    -webkit-box-shadow: 0 0 10px 0 rgba(50,50,50,.75);
       -moz-box-shadow: 0 0 10px 0 rgba(50,50,50,.75);
            box-shadow: 0 0 10px 0 rgba(50,50,50,.75);
}

.google_play_icon
{
    width: 67px;
    height: 20px !important;
    margin: 14px auto 0;

    background: url('../images/google play.png') no-repeat;
    background-size: 100%;
}

.app_store_icon
{
    width: 78%;
    max-width: 67px;
    height: 20px !important;
    margin: 20px auto 0;

    background: url('../images/app store.png') no-repeat;
    background-size: 100%;
}

.home .item a
{
    z-index: 60;

    display: block;

    height: 100px;
}

.carousel-indicators li
{
    font-family: 'Exo 2',sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 19px;

    display: inline-block;

    width: 18px;
    height: 20px;
    margin: 1px;

    cursor: pointer;
    text-indent: 0;

    border: 1px solid #e2e2e2;
    border-radius: 0;
    background-color: #fff;
}

.carousel-indicators .active
{
    width: 18px;
    height: 20px;
    margin: 0;

    color: #fff;
    background-color: #40bdf3;
}

.business
{
    min-height: 700px;

    background: #444 url('../images/image.png') no-repeat 50% 50%;
}

.business .container
{
    padding-top: 182px;

    text-align: center;
}

h2
{
    font-family: 'Exo 2',sans-serif;
    font-size: 30px;
    font-weight: 600;

    text-transform: uppercase;
}

.business .container h2
{
    color: #fff;
}

.business .container .business-top
{
    font-family: 'Exo 2',sans-serif;
    font-size: 19px;
    font-weight: 400;

    color: #b4e8ff;
}

.business .container .business-bottom
{
    font-family: 'Tinos',serif;
    font-size: 15px;
    font-weight: 400;

    display: inline-block;

    margin-top: 33px;

    color: #fff;
}

.carousel-control.left
{
    border-left: 2px solid #fff;
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.1) 0,rgba(0,0,0,.0001) 25%);
    background-image:      -o-linear-gradient(left,rgba(0,0,0,.1) 0,rgba(0,0,0,.0001) 25%);
    background-image:         linear-gradient(to right,rgba(0,0,0,.1) 0,rgba(0,0,0,.0001) 25%);
    background-repeat: repeat-x;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}

.carousel-control.right
{
    right: 0;
    left: auto;

    border-right: 2px solid #fff;
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 75%,rgba(0,0,0,.1) 100%);
    background-image:      -o-linear-gradient(left,rgba(0,0,0,.0001) 75%,rgba(0,0,0,.1) 100%);
    background-image:         linear-gradient(to right,rgba(0,0,0,.0001) 75%,rgba(0,0,0,.1) 100%);
    background-repeat: repeat-x;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}

.carousel-control.left
{
    left: 15%;
}

.carousel-control.right
{
    right: 15%;
}

.business .container .business-bottom a
{
    text-decoration: underline;

    color: #fff;
}

.about .container
{
    padding: 100px 0;

    text-align: center;
}

.about .container h2
{
    color: #28aae2;
}

.about .container span
{
    font-family: 'Tinos',serif;
    font-size: 22px;

    display: inline-block;

    padding: 0 30px;

    color: #97999c;
}

.contact-us
{
    background: #28aae2;
}

.sbHolder
{
    font-family: 'Exo 2',sans-serif;
    font-size: 14px;
    font-weight: 400;

    position: relative;

    float: left;

    width: 245px;
    height: 30px;

    color: #97999c;
    border: none;
    border-radius: 10px;
    background-color: #fff;
}

.sbHolder:focus
{
    border: 1px solid #0d4d99;
}

.sbToggle
{
    background: url(../images/arrow_static.png) no-repeat 50% 50%;
}

.sbOptions a:link,
.sbOptions a:visited
{
    text-decoration: none;

    color: #fff;
}

.sbToggle:hover
{
    background: url(../images/arrow_hover.png) no-repeat 50% 50%;
}

.sbToggleOpen
{
    background: url(../images/arrow_hover.png) no-repeat 50% 50%;
}

.sbOptions
{
    position: relative;
    z-index: 10000;
    left: 22px;

    min-height: 360px;

    border: none;
    background-color: rgba(13,77,153,.75);
}

.sbOptions a
{
    display: block;

    padding: 2px 0 0 3px;

    text-align: left;

    border-bottom: none;
    outline: none;
}

.sbSelector:link,
.sbSelector:visited,
.sbSelector:hover
{
    text-decoration: none;

    color: #97999c;
    outline: none;
}

.yola-form-field input[type='text']
{
    font-family: 'Exo 2',sans-serif;
    font-size: 14px;
    font-weight: 400;

    position: relative;

    float: left;

    width: 245px;
    height: 30px;
    padding: 0 20px;

    color: #97999c;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #fff;
}

.yola-form-field
{
    line-height: 30px;

    margin: 10px 0;
}

.yola-form-field p.label
{
    line-height: 30px;
}

.yola-form-field input[type='text']:focus
{
    border: 1px solid #0d4d99;
}

.yola-form-field p label
{
    font-family: 'Exo 2',sans-serif;
    font-size: 15px;
    font-weight: 300;

    float: left;

    width: 175px;
    margin-right: 20px;

    text-align: right;
}

.yola-form-field .t_w label
{
    line-height: 15px;
}

.contact-us
{
    padding: 100px 0;
}

.contact-us .container
{
    text-align: center;
}

.contact-us h2
{
    color: #fff;
}

.contact-us .form-paragraph
{
    font-family: 'Exo 2',sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;

    display: inline-block;

    max-width: 500px;

    text-align: center;

    color: #b4e8ff;
}

.yff_f
{
    margin-top: 40px;
    margin-bottom: 0;
}

.contact-us .form_label
{
    font-size: 15px;
    line-height: 12px;

    float: left;

    margin: 0;

    text-align: left;
}

.col-left .yola-form-field p label
{
    float: none;

    width: 142px;
    margin-left: 0;

    text-align: left;
}

.yola-form-field textarea
{
    font-family: 'Exo 2',sans-serif;
    font-size: 14px;
    font-weight: 400;

    position: relative;

    float: left;

    width: 245px;
    height: 80px;
    padding: 0 20px;

    color: #97999c;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #fff;
}

div.sys_yola_form div.yola-form-captcha
{
    margin: 0 -3px;
    padding: 10px 0;
}

div.sys_yola_form p.label
{
    margin: 0;
    padding: 10px 0 3px 0;
}

p.form-paragraph
{
    margin: 15px 0 0 0;
    padding: 3px 0;
}

div.yola-form-message
{
    padding: 5px;
}

div.yola-form-captcha-representation
{
    line-height: 0;

    position: static;

    display: inline-block;

    width: 312px;
    height: 123px;
    margin: 3px;
    padding: 0;
}

.input-recaptcha
{
    position: relative;
    z-index: 100;

    float: left;

    width: 176px;
    height: 43px;
    padding: 10px 20px;

    border: none;
    border-top: 1px solid #dedfe2;
    border-right: 1px solid #dedfe2;
}

#recaptcha_widget .btn
{
    position: relative;
    z-index: 100;

    float: left;

    height: 44px;

    border-top: 1px solid #dedfe2;
    border-right: 1px solid #dedfe2;
    border-radius: 0;
}

#recaptcha_widget .btn:last-child
{
    border-right: none;
}

.thumbnail
{
    margin-bottom: 0;

    border: none;
}

.captcha
{
    float: left;
    overflow: hidden;

    width: 300px;
    height: 100px;
    margin-left: 210px;

    border-radius: 5px;
    background: #fff;
}

.captcha .glyphicon
{
    position: relative;
    top: 8px;
}

.h3_c
{
    display: inline-block;

    height: 46px;
    margin-top: 6px;

    text-align: center;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus
{
    color: #fff;
    border-color: #ddd;
    background-color: #28aae2;
}

.contact-us input[type='submit']
{
    font-family: 'Exo 2',sans-serif;
    font-weight: 400;

    float: left;

    width: 182px;
    height: 40px;
    margin: 23px 0 0 40px;

    text-transform: uppercase;

    color: #97999c;
    border: none;
    border-radius: 20px;
    outline: none;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(.24,#fff), color-stop(1,#d3f1ff) );
    background-image:      -o-linear-gradient(bottom,#fff 24%,#d3f1ff 100%);
    background-image:    -moz-linear-gradient(bottom,#fff 24%,#d3f1ff 100%);
    background-image: -webkit-linear-gradient(bottom,#fff 24%,#d3f1ff 100%);
    background-image:     -ms-linear-gradient(bottom,#fff 24%,#d3f1ff 100%);
    background-image:         linear-gradient(to bottom,#fff 24%,#d3f1ff 100%);
}

.contact-us input[type='submit']:hover
{
    -webkit-box-shadow: 0 0 15px 0 rgba(255,255,255,.75);
       -moz-box-shadow: 0 0 15px 0 rgba(255,255,255,.75);
            box-shadow: 0 0 15px 0 rgba(255,255,255,.75);
}

.contact-us input[type='submit']:active
{
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#d3f1ff), color-stop(.64,#feffff) );
    background-image:      -o-linear-gradient(bottom,#d3f1ff 0,#feffff 64%);
    background-image:    -moz-linear-gradient(bottom,#d3f1ff 0,#feffff 64%);
    background-image: -webkit-linear-gradient(bottom,#d3f1ff 0,#feffff 64%);
    background-image:     -ms-linear-gradient(bottom,#d3f1ff 0,#feffff 64%);
    background-image:         linear-gradient(to bottom,#d3f1ff 0,#feffff 64%);
    -webkit-box-shadow: 0 0 15px 0 rgba(255,255,255,.75);
       -moz-box-shadow: 0 0 15px 0 rgba(255,255,255,.75);
            box-shadow: 0 0 15px 0 rgba(255,255,255,.75);
}

.pagination
{
    position: absolute;
    z-index: 15;
    bottom: -51px;
    left: 44%;

    width: 110px;
    padding-left: 0;

    list-style: none;

    text-align: center;
}

.rating-form-field .sbOptions
{
    left: 10px;

    width: 227px;
    min-height: 165px;
}

.yell
{
    color: #f8c12d;
}

.label
{
    padding: 0;
}

.sbSelector
{
    width: 210px;

    text-align: left;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span
{
    margin-left: 0;

    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span
{
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
}

.pagination > li > a,
.pagination > li > span
{
    padding: 2px 10px;
}

.carousel .pagination
{
    font-size: 13px;
}

.pagination > li > a,
.pagination > li > span
{
    color: #7e7e7e;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus
{
    color: #fff;
    border-color: #ddd;
    background: rgb(57,184,238);
    background:    -moz-radial-gradient(center,ellipse cover,rgba(57,184,238,1) 0,rgba(0,188,235,1) 41%,rgb(39,157,207) 100%);
    background: -webkit-gradient(radial,center center,0,center center,100%,color-stop(0%,rgba(57,184,238,1) ), color-stop(41%,rgba(0,188,235,1) ), color-stop(100%,rgb(39,157,207) ) );
    background: -webkit-radial-gradient(center,ellipse cover,rgba(57,184,238,1) 0,rgba(0,188,235,1) 41%,rgb(39,157,207) 100%);
    background:      -o-radial-gradient(center,ellipse cover,rgba(57,184,238,1) 0,rgba(0,188,235,1) 41%,rgb(39,157,207) 100%);
    background:     -ms-radial-gradient(center,ellipse cover,rgba(57,184,238,1) 0,rgba(0,188,235,1) 41%,rgb(39,157,207) 100%);
    background:         radial-gradient(ellipse at center,rgba(57,184,238,1) 0,rgba(0,188,235,1) 41%,rgb(39,157,207) 100%);

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#39b8ee', endColorstr='#279dcf', GradientType=1 );
}

#yola_form_widget_I19_1,
#yola_form_widget_I19_3
{
    width: 245px;
    height: 30px;
}

input:focus:invalid
{
    border: 1px solid red;
}

@media(min-width:768px)
{
    .navbar-nav > li > a
    {
        margin-top: 21px;
        padding-top: 27px;
        padding-bottom: 15px;
    }

    .navbar-nav > li
    {
        width: 125px;
        height: 83px;

        text-align: center;
    }

    .carousel-indicators
    {
        position: relative;
    }

    /*    .home .col-sm-2:nth-child(1),
    .col-sm-2:nth-child(2),
    .col-sm-2:nth-child(3),
    .col-sm-2:nth-child(4)
    {
        border-bottom: 1px solid #dedfe2;
    }*/

    .home .col-sm-2
    {
    }

    .home .col-sm-2:after
    {
        position: relative;
        position: absolute;
        right: 0;
        bottom: 45px;

        display: inline-block;
        float: left;

        width: 1px;
        height: 125px;

        content: ' ';

        background: #dedfe2;
    }
}

@media(max-width:767px)
{
    header
    {
        height: 50px;
    }

    .navbar-brand
    {
        float: left;

        padding: 10px 15px;
    }

    .navbar-brand img
    {
        width: 120px;
    }

    .header .navbar-brand img
    {
        width: 100px;
    }

    .nav-tabs > li
    {
        float: none;

        width: 150px;
        margin-bottom: -1px;
    }

    .navbar-nav
    {
        width: 100%;
        margin: 0;

        background: #fff;
    }

    .collapse.in
    {
    }

    .navbar-nav > li:after
    {
        display: none;
    }

    .navbar-nav > li > a:hover
    {
        background: #fff !important;
    }

    .navbar-nav > li > a
    {
        background: #fff !important;
    }

    .navbar-nav > li > a
    {
        font-size: 15px;
    }
}

@media(max-width:768px)
{
    .center
    {
        width: 300px;
        margin: 0 auto;
    }

    .captcha
    {
        margin: 20px auto;
    }

    .contact-us input[type='submit']
    {
        float: none;

        margin: 0 auto;
    }

    .yola-form-field input[type='text']
    {
        float: none;
    }

    .col-left .yola-form-field input[type='text']
    {
    }

    .col-left .yola-form-field p label
    {
        float: left;

        width: 175px;
        margin-left: 0;
        padding: 0;

        text-align: right;
    }

    .yola-form-field textarea
    {
        float: none;
    }

    .carousel-control.left
    {
        left: 0;
    }

    .carousel-control.right
    {
        right: 0;
    }

    .sbHolder
    {
        display: inline-block;
        float: none;
    }
    .header
    {
        height: auto;
    }
}

@media(min-width:500px)
{
    .home .container
    {
        width: 90%;
        max-width: 830px;
    }

    .business .container
    {
        width: 340px;
    }

    .about .container
    {
        max-width: 500px;
    }
}

@media(min-width:1200px)
{
    .home .container
    {
        width: 830px;
    }

    .business .container
    {
        width: 340px;
    }

    .about .container
    {
        width: 500px;
    }
}

@media(max-width:480px)
{
    .pagination
    {
        left: 68%;

        margin-left: -30%;
    }

    .home .item a
    {
        left: 20%;
    }

    .yola-form-field p label
    {
        display: block;
        float: none;

        width: 245px;
        margin: 0 auto;

        text-align: left;
    }

    .col-left .yola-form-field p label
    {
        display: block;
        float: none;

        width: 245px;
        margin: 0 auto;

        text-align: left;
    }

    .yola-form-field .t_w label
    {
        line-height: 19px;

        margin-bottom: 12px;
    }

    .contact-us .form_label
    {
        display: block;
        float: none;

        width: 245px;
        margin: 20px auto 0;
    }

    .sbHolder
    {
        float: none;

        margin: 0 auto;
    }
}

@media(max-width:350px)
{
    .pagination
    {
        left: 64%;

        width: 66%;
        margin-left: -30%;
    }
}

.help-block
{
    clear: left;

    text-align: left;
}

.rightalign .help-block
{
    float: right;

    padding-right: 27px;
}

.form-control-feedback
{
    display: none !important;
}

.has-eror input[type=text],
.has-error textarea
{
    border-color: red;
}

@media (min-width: 480px) and (max-width:992px){
    .yola-form-field input[type='text']
    {
        float: none;
    }

    .col-left .yola-form-field p label
    {
        float: left;

        width: 178px;

        text-align: right;
    }

    .yola-form-field textarea
    {
        float: none;
    }
}
.overlay{
    width: 100%;
    height: 100%;
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.navbar-nav{
    position: 50;
    position: relative;
}