
		BODY {
			background: #F3F3F1 url("/imgraw/wirenode/bg.png") top center no-repeat;
		}
	
		.body-content {
			margin: 0 auto;
            background: #ffffff;

			width: 100%;
            max-width: 1024px;
		}
        .body-content td img{
            border-radius: 20px;
            border: 1px solid #ccc;
        }
		
		.image,
		.titled-image {
			margin: 0;
			padding: 3px 5px 1px 5px;
			font-size: medium;
		}
		img {
			border: 0 none;
		}
		.border {
			margin: 0;
			padding: 4px;

			border-width: 1px;
			border-style: solid;
			font-size: medium;
		}
		.sep {
			margin: 0;
			padding: 0;
			height: 2px;
			border: 0;
		}
		.sepbg {
			margin: 0;
			padding: 0;
			padding: 3px 5px 3px 5px;
		}
		.clear {
			clear: both
		}
		form div {
			text-align: left;
		}
		form label {
			font-weight: bold;
		}
		.smsharer img {
			border: 0 none;
			vertical-align: middle;
		}
		body {
			margin: 0;
			padding: 0;
			font-size: medium;

			font-family: Helvetica;

			-webkit-user-select: none;
			-webkit-text-size-adjust: none;
		}
		
		.text_small {
			font-size: 66%;
		}
		.text_big {
			font-size: 150%;
		}
		.c0 {
			background-color: #FFFFFF;
			color: #000000;
		}
		.c1 {
			background-color: #EFEBEF;
			color: #000000;
		}
		.c2 {
			background-color: #CECFCE;
			color: #000000;
		}
		.c3 {
			background-color: #A9A9A9;
			color: #000000;
		}
		.c4 {
			padding-top: 10px;
		}
		.c5 {
			background-color: #000000;
			color: #EFEBEF;
		}
		.c6 {
			background-color: #000000;
			color: #CECFCE;
		}
		.c7 {
			background-color: #000000;
			color: #A9A9A9;
		}
		.b0 {
			border-color: #C0C0C0;

			background-color: #FFFFFF;
			color: #000000;
		}
		.b1 {
			border-color: #C0C0C0;

			background-color: #EFEBEF;
			color: #000000;
		}
		.b2 {
			border-color: #C0C0C0;

			background-color: #CECFCE;
			color: #000000;
		}
		.b3 {
			border-color: #C0C0C0;

			background-color: #A9A9A9;
			color: #000000;
		}
		.b4 {
			border-color: #FFFFFF;

			background-color: #000000;
			color: #FFFFFF;
		}
		.b5 {
			border-color: #EFEBEF;

			background-color: #000000;
			color: #EFEBEF;
		}
		.b6 {
			border-color: #CECFCE;

			background-color: #000000;
			color: #CECFCE;
		}
		.b7 {
			border-color: #A9A9A9;

			background-color: #000000;
			color: #A9A9A9;
		}
		.sep0 {
			background-color: #000000;
			color: #000000;
		}
		.sepbg0 {
			background-color: #FFFFFF;
		}
		.sep1 {
			background-color: #000000;
			color: #000000;
		}
		.sepbg1 {
			background-color: #EFEBEF;
		}
		.sep2 {
			background-color: #000000;
			color: #000000;
		}
		.sepbg2 {
			background-color: #CECFCE;
		}
		.sep3 {
			background-color: #000000;
			color: #000000;
		}
		.sepbg3 {
			background-color: #A9A9A9;
		}
		.sep4 {
			background-color: #FFFFFF;
			color: #FFFFFF;
		}
		.sepbg4 {
			background-color: #000000;
		}
		.sep5 {
			background-color: #EFEBEF;
			color: #EFEBEF;
		}
		.sepbg5 {
			background-color: #000000;
		}
		.sep6 {
			background-color: #CECFCE;
			color: #CECFCE;
		}
		.sepbg6 {
			background-color: #000000;
		}
		.sep7 {
			background-color: #A9A9A9;
			color: #A9A9A9;
		}
		.sepbg7 {
			background-color: #000000;
		}
		td > a > span{
			color: #040404;
		}
		td > a{
			text-decoration: none;
		}

		.btn {
			position: relative;
            display: block;
            z-index: 100;

			padding: 8px 9px;
			max-width: 120px;
			border: 1px solid   #0380fc;
			border-radius: 4px;
			color: #0380fc;
			text-align: center;
			font-size: 16px;
            font-weight: 600;
		}
		.btn i{
			position: absolute;
			top: 0px;
			left: 2px;
		}

		.header table{
			width: 100%;
		}

		@media (max-width: 400px){
				.header tr td:nth-child(2){
				width: 40%;
			}
			.header tr td:nth-child(3){
				width: 20%;
			}
            .header tr td:nth-child(2) span{
				font-size: 14px;
			}
             .header tr td:nth-child(2) .x-small{
				font-size: 10px;
			}
			.header tr td:nth-child(1){
				width: 20%;
			}
            .btn{
            font-size: 10px;
                padding: 5px 1px;
                width: 65px;
            }
            .body-content td img{
                height: 70px;
                width: 70px;
            }
            .ribbon{
            width: 74% !important;
                font-size: 13px !important;
            }
		}
		@media (min-width: 400px) and (max-width: 700px){
				.header tr td:nth-child(2){
				width: 300px;
			}
		}
		@media (min-width: 700px) and (max-width: 1025px){
				.header tr td:nth-child(2){
				width: 600px;
			}
		}
	@media (min-width: 1025px) {
				.header tr td:nth-child(2){
				width: 750px;
			}
		}
.ribbon{
/*    background-color: #f8f8f8 ;*/
    background-image: url('img/ribbon-repeat.png'), url('img/ribbon-right.png');
    background-position: 0%, 100%;
    background-repeat:repeat-x, no-repeat;
    background-size: contain, contain;
    height: 29px;
    line-height: 30px;
    width: 73%;
    max-width: 500px;
   
    position: relative;
    padding: 0px 0px 0px 20px;
    margin-top: 20px; 
    color: #636363;
    font-size: 16px;
}
.ribbon:after {
content: '';
position: absolute;
display: block;
bottom: 0px;
/* border: 15px solid #f8f8f8; */
z-index: 10;
background: url('img/ribbon-right.png');
background-size: contain;
height: 29px;
width: 38px;
left: 100%;
top: 0px;
}

.x-small{
color: #636363;
font-size: 12px;
}
.header tr td:after{
    content: '';
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
background:  #d3d3d3;
    height: 1px;
z-index: 20;
}
.header tr:last-child td:after{
    content: '';
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
background:  transparent;
    height: 0px;
z-index: 20;
}
.header tr td:before{
    content: '';
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 2px;
    background:  #d3d3d3;
    height: 1px;
    z-index: 20;
}
.header tr:last-child td:before{
    content: '';
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 2px;
    background:  transparent;
    height: 0px;
    z-index: 20;
}
.header tbody > tr td{
position: relative;
padding: 4px 0px;}